.contact {
  height: 70vh;
  position: relative;
  width: 100%;
}

.contactdiv {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacttitle {
  font-size: 60px;
  width: 80%;
}

.contactinfoitem {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300px;
  width: 70%;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.description {
  font-weight: 200;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
}

textarea {
  width: 100%;
  border: 1px solid rgb(215, 215, 215);
  padding: 5px;
  border-radius: 4px;
  width: 300px;
}

.submitButton {
  border: 1px solid rgb(215, 215, 215);
  padding: 5px;
  border-radius: 3px;
}

input {
  border: 1px solid rgb(215, 215, 215);
  padding: 5px;
  border-radius: 4px;
  width: 300px;
}

.inputStuff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
