.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}

.rightAlign {
  display: flex;
  justify-content: right;
  padding-right: 26px;
}
.icondiv {
  margin: 0;
  padding: 5px;
  animation: none;
}
label {
  cursor: pointer;
}
.darklight {
  padding: 10px 15px;
  position: fixed;
}
p {
  font-weight: 600;
  margin: 0;
}
